<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379308637207-36ggb16m2875aotcvv00udphtv5o7t9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379308637207-36ggb16m2875aotcvv00udphtv5o7t9j</string>
	<key>API_KEY</key>
	<string>AIzaSyAIcFVVkcoVJ4sLY_qdUpNbBLXDYxLEOqU</string>
	<key>GCM_SENDER_ID</key>
	<string>379308637207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.merkers.PromosGollo</string>
	<key>PROJECT_ID</key>
	<string>promosgollo</string>
	<key>STORAGE_BUCKET</key>
	<string>promosgollo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379308637207:ios:e9334007ac6ddf0c617052</string>
</dict>
</plist>