https://github.com/jonathan220297/GolloPromos.git
Pods
GolloApp.xcworkspace/xcuserdata/jonathanrodriguez.xcuserdatad/UserInterfaceState.xcuserstate
GolloApp.xcworkspace/xcuserdata/rosegueda.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
